<p>clients-list works!</p>

<table class="table table-hover table-bordered table-scroll">
    <thead>
        <tr>
            <th>Card No.</th>
            <th>Issuer</th>
            <th>Amount</th>
            <th>Trans Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="error"><td colspan="4">An error occurred, please try again later...</td></tr>
        <tr *ngFor="let client of clients">
            <td>{{ client.cardNo }}</td>
            <td> {{ client.issuer }}</td>
            <td> {{ client.positiveResultDate | date :'dd/MM/yyyy'}}</td>
            <td> {{ client.recoveryDate | date :'dd/MM/yyyy'}}</td>
        </tr>
    </tbody>
</table>